.board-container {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.board {
  display: flex;
  gap: 1.5rem;
  flex: 1;
  align-items: stretch;
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;

  app-column {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
  }
}
